@keyframes -global-party {
    0% {
        background-color: #ff8d8b;
    }
    10% {
        background-color: #fed689;
    }
    20% {
        background-color: #88ff89;
    }
    30% {
        background-color: #87ffff;
    }
    40% {
        background-color: #8bb5fe;
    }
    50% {
        background-color: #d78cff;
    }
    60% {
        background-color: #ff8cff;
    }
    70% {
        background-color: #ff68f7;
    }
    80% {
        background-color: #fe6cb7;
    }
    90% {
        background-color: #ff6968;
    }
    100% {
        background-color: #ff8d8b;
    }
}
.party {
    animation-name: -global-party;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}
